.App {
  position: relative;
}

.position-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}