.toggle__circle {
    width: 39%;
    aspect-ratio: 1 / 1;
    z-index: 96;
    transform-style: preserve-3d;
    border-radius: 50%;
    position: relative; 
    transition: 1s;
}

.toggle_light .toggle__circle {
    transform: translateX(0%);
}

.toggle_dark .toggle__circle {
    transform: translateX(160%);
}

.circle {
    width: 100%;
    height: 100%;
    position: relative;  
    overflow: hidden;
    background-color: rgb(255, 202, 26);
    border-radius: 50%;
}

.circle__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 202, 26);
    border-radius: 50%;
    box-shadow: inset 0.5px 1px 1.5px 0.3px rgba(255, 255, 255, 0.671),
                inset -0.25px -5px 3px rgba(41, 41, 41, 0.527);
    transition: 1s;            
}

.toggle_dark .circle__background_off {
    transform: translateX(-100px);
}

.toggle_light .circle__background_off {
    transform: translateX(100px);
    transition-delay: 0.1s;
}

.circle__background_off {
    background-color: rgb(190, 190, 190);
    box-shadow: inset 0.5px 1px 1.5px 0.3px rgba(255, 255, 255, 0.671),
                inset -0.25px -5px 3px rgba(41, 41, 41, 0.527), 
                -1px -1px 3px rgba(54, 54, 54, 0.253);
    left: 100px;
}

.halo {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(248, 251, 253, 0.11);
}

.halo_inner {
    width: 180%;
    height: 180%;
    left: -40%;
    top: -40%;
    transform: translateZ(-10px);
}

.halo_middle {
    width: 250%;
    height: 250%;
    left: -75%;
    top: -75%;
    transform: translateZ(-11px);
}

.halo_outer {
    width: 310%;
    height: 310%;
    left: -105%;
    top: -105%;
    z-index: -5;
    transform: translateZ(-12px);
}

.circle__inner-circle {
    background-color: rgb(168, 168, 168);
    position: absolute;
    border-radius: 50%;
    box-shadow: inset -0.2px 0.3px 1px 0.1px rgb(117, 117, 117);
}

.circle__inner-circle_top {
    height: 0;
    width: 19%;
    padding-bottom: 19%;
    left: 38%;
    top: 15%;
}

.circle__inner-circle_mid {
    height: 0;
    width: 33%;
    padding-bottom: 33%;
    left: 14%;
    top: 40%;
}

.circle__inner-circle_bottom {
    height: 0;
    width: 21%;
    padding-bottom: 21%;
    left: 62%;
    top: 58%;
}

