.background {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    transition: 1s;
}

.background_dark {
    background-color: rgb(0, 0, 19);
}

.background_light {
    background-color: rgb(185, 223, 210);
}