.toggle__background {
    background-image: linear-gradient(180deg, rgb(0, 0, 3) 0%, rgb(0, 2, 7) 48%, rgb(36, 99, 199) 100%);
    height: 304.76%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: -200%;
    z-index: 95;
    transition: 1s;
}

.toggle_dark .toggle__background {
    transform: translateY(66%);
}

.toggle_light .toggle__background {
    transform: translateY(0%);
}
